.App {
    background-size: cover;
    background-position: center;
    /* height: calc(100vh - 56px); */
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    transition: 1s background-image;
}

.schedule-time {
    
    /* line-height: 100%; */
}

.schedule-name {
    font-weight: 300;
}

.schedule-speakers {
    color: #ddd;
}

.schedule-speakers .schedule-avatar {
    display: inline-flex;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.event-title {
    font-family: "Roboto Condensed", "Roboto", sans-serif;
    font-size: 3rem;
    margin-bottom: 0;
}

.event-speaker-title {
    font-family: "Roboto Condensed", "Roboto", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 0;
}

.event-speaker-name {
    margin-bottom: 0;
}

.darkener {
    transition: 3s background-color;
    width:100vw;
    height:100vh;
    overflow: auto;
    padding-bottom: 70px;
}

.darkener-darken {
    background-color: rgba(0,0,0,0.5);
}